<form class="row gy-2 gx-3 align-items-center" [formGroup]="formulario" (ngSubmit)="onSubmit()">

  <!-- <app-input-field
   [classeCss]="aplicaCssErro('nome')" formControlName="nome"
   id="nome" label="Nome" [control]="$any(formulario.get('nome'))">
  </app-input-field> -->

  <div class="mb-3 col-md-12">
    <label for="nome" class="form-label">Nome</label>
    <input formControlName="nome" type="text" class="form-control" [ngClass]="aplicaCssErro('nome')"
    id="nome" placeholder="Nome" >
    <app-error-msg [control]="$any(formulario.get('nome'))" label="Nome"></app-error-msg>
  </div>

  <div class="mb-3 col-md-12">
    <label for="email" class="form-label">Email</label>
    <input formControlName="email" type="email" class="form-control"
    id="email" placeholder="nome@email.com" [ngClass]="aplicaCssErro('email')">
    <app-error-msg [control]="$any(formulario.get('email'))" label="Email"></app-error-msg>
    <app-campo-control-erro
      [mostrarErro]="formulario.get('email')?.status === 'PENDING'"
      msgErro="Validando email...">
    </app-campo-control-erro>
  </div>

  <div class="mb-3 col-md-12">
    <label for="confirmarEmail" class="form-label">Confirmar Email</label>
    <input formControlName="confirmarEmail" type="email" class="form-control"
    id="confirmarEmail" placeholder="nome@email.com" [ngClass]="aplicaCssErro('confirmarEmail')">
    <app-error-msg [control]="$any(formulario.get('confirmarEmail'))" label="Confirmar Email"></app-error-msg>
  </div>

  <div formGroupName="endereco">
    <div class="row">
      <div class="mb-3 col-md-3">
        <label for="cep" class="form-label">CEP</label>
        <input formControlName="cep" type="text" class="form-control" id="cep"
        [ngClass]="aplicaCssErro('endereco.cep')">
        <app-error-msg [control]="$any(formulario.get('endereco.cep'))" label="CEP"></app-error-msg>
      </div>

      <div class="mb-3 col-md-3">
        <label for="numero" class="form-label">Número</label>
        <input formControlName="numero" type="text" class="form-control" id="numero" [ngClass]="aplicaCssErro('endereco.numero')">
        <app-error-msg [control]="$any(formulario.get('endereco.numero'))" label="Número"></app-error-msg>
      </div>

      <div class="mb-3 col-md-6">
        <label for="complemento" class="form-label">Complemento</label>
        <input formControlName="complemento" type="text" class="form-control" id="complemento" [ngClass]="aplicaCssErro('endereco.complemento')">
        <app-error-msg [control]="$any(formulario.get('endereco.complemento'))" label="Complemento"></app-error-msg>
      </div>
    </div>

    <div class="mb-3 col-md-12">
      <label for="rua" class="form-label">Rua</label>
      <input formControlName="rua" type="text" class="form-control" id="rua" [ngClass]="aplicaCssErro('endereco.rua')">
      <app-error-msg [control]="$any(formulario.get('endereco.rua'))" label="Rua"></app-error-msg>
    </div>

    <div class="row">
      <div class="mb-3 col-md-5">
        <label for="bairro" class="form-label">Bairro</label>
        <input formControlName="bairro" type="text" class="form-control" id="bairro" [ngClass]="aplicaCssErro('endereco.bairro')">
        <app-error-msg [control]="$any(formulario.get('endereco.bairro'))" label="Bairro"></app-error-msg>
      </div>

      <div class="mb-3 col-md-4">
        <label for="cidade" class="form-label">Cidade</label>
        <input formControlName="cidade" type="text" class="form-control" id="cidade" [ngClass]="aplicaCssErro('endereco.cidade')">
        <app-error-msg [control]="$any(formulario.get('endereco.cidade'))" label="Cidade"></app-error-msg>
      </div>

      <div class="mb-3 col-md-3">
        <label for="estado" class="form-label">Estado</label>
        <select formControlName="estado" class="form-control" id="estado" [ngClass]="aplicaCssErro('endereco.estado')">
          <option *ngFor="let estado of estados | async" [value]="estado.sigla">{{ estado.nome }}</option>
        </select>
        <app-error-msg [control]="$any(formulario.get('endereco.estado'))" label="Estado"></app-error-msg>
      </div>
    </div>
  </div>

  <div class="mb-3 col-md-5">
    <label for="cargo" class="form-label">Cargo</label>
    <select formControlName="cargo" class="form-control" id="cargo"
    [ngClass]="aplicaCssErro('cargo')" [compareWith]="compararCargos">
      <option *ngFor="let cargo of cargos" [ngValue]="cargo">{{ cargo.desc }}</option>
    </select>
  </div>

  <div class="mb-3 col-md-5">
    <label for="tecnologias" class="form-label">Tecnologias</label>
    <select multiple formControlName="tecnologias" class="form-control" id="tecnologias"
    [ngClass]="aplicaCssErro('tecnologia')">
      <option *ngFor="let tecnologia of tecnologias" [value]="tecnologia.nome">{{ tecnologia.desc }}</option>
    </select>
  </div>

  <div class="mb-3 col-md-2">
    <label for="newsletter" class="form-label">Newsletter</label>
    <div id="newsletter" class="row">
      <div class="col-sm-4" *ngFor="let item of newsletterOp">
        <label for="radio-inline">
          <input type="radio" [value]="item.valor" formControlName="newsletter" [ngClass]="aplicaCssErro('newsletter')"/> {{ item.desc }}
        </label>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row align-items-center">
      <div class="mb-3 col-md-3">
        <input class="form-check-input" [ngClass]="aplicaCssErro('termos')" id="termos" type="checkbox" formControlName="termos">
        <label for="termos" class="form-check-label" style="margin-left: 10px;">Aceito os termos</label>
        <app-error-msg [control]="$any(formulario.get('termos'))" label="Aceite os termos!"></app-error-msg>
      </div>

      <div class="mb-3 col-md-7">
        <label for="frameworks">Frameworks</label>
        <div id="frameworks" class="row">
          <div class="checkbox col-sm-3" formArrayName="frameworks" *ngFor="let item of frameworksArrayControls(); let i = index">
            <label class="checkbox-inline">
                <input type="checkbox" [formControlName]="i"> {{ frameworks[i] }}
            </label>
          </div>
          <app-error-msg [control]="$any(formulario.get('frameworks'))" label="Frameworks"></app-error-msg>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-3 col-md-12">
    <button type="submit" class="btn btn-primary" style="margin-right: 5px;">Submit</button>
    <button class="btn btn-secondary" (click)="resetar()" style="margin-right: 5px;">Cancelar</button>
    <button class="btn btn-secondary" (click)="setarCargo()" style="margin-right: 5px;">Cargo</button>
    <button class="btn btn-secondary" (click)="setarTecnologias()">Tecnologias</button>
  </div>


  <app-form-debug [form]="formulario"></app-form-debug>
</form>


<!--

Estado            | SIM         | NÃO
Controle visitado |  ng-touched | ng-untouched
Valor mudou       | ng-dirty    | ng-pristine
Controle válido   | ng-valid    | ng-invalid

-->
