<form class="row gy-2 gx-3 align-items-center" [formGroup]="formulario" (ngSubmit)="onSubmit()">

  <div class="mb-3 col-md-12">
    <label for="nome" class="form-label">Nome</label>
    <input formControlName="nome" type="text" class="form-control" [ngClass]="aplicaCssErro('nome')"
    id="nome" placeholder="Nome" >
    <app-campo-control-erro
      [mostrarErro]="verificaValidTouched('nome')"
      msgErro="Nome obrigatório!">
    </app-campo-control-erro>
  </div>

  <div class="mb-3 col-md-12">
    <label for="email" class="form-label">Email</label>
    <input formControlName="email" type="email" class="form-control"
    id="email" placeholder="nome@email.com" [ngClass]="aplicaCssErro('email')">
    <app-campo-control-erro
      [mostrarErro]="verificaValidTouched('email')"
      msgErro="Email obrigatório!">
    </app-campo-control-erro>
    <app-campo-control-erro
      [mostrarErro]="verificaEmailInvalido()"
      msgErro="Email inválido!">
    </app-campo-control-erro>
  </div>

  <div formGroupName="endereco">
    <div class="row">
      <div class="mb-3 col-md-3">
        <label for="cep" class="form-label">CEP</label>
        <input formControlName="cep" type="text" class="form-control" id="cep"
        [ngClass]="aplicaCssErro('endereco.cep')" (blur)="consultarCEP()">
        <app-campo-control-erro
          [mostrarErro]="verificaValidTouched('endereco.cep')"
          msgErro="CEP é obrigatório!">
        </app-campo-control-erro>
      </div>

      <div class="mb-3 col-md-3">
        <label for="numero" class="form-label">Número</label>
        <input formControlName="numero" type="text" class="form-control" id="numero" [ngClass]="aplicaCssErro('endereco.numero')">
        <app-campo-control-erro
          [mostrarErro]="verificaValidTouched('endereco.numero')"
          msgErro="Número é obrigatório!">
        </app-campo-control-erro>
      </div>

      <div class="mb-3 col-md-6">
        <label for="complemento" class="form-label">Complemento</label>
        <input formControlName="complemento" type="text" class="form-control" id="complemento" [ngClass]="aplicaCssErro('endereco.complemento')">
        <app-campo-control-erro
          [mostrarErro]="verificaValidTouched('endereco.complemento')"
          msgErro="Complemento é obrigatório!">
        </app-campo-control-erro>
      </div>
    </div>

    <div class="mb-3 col-md-12">
      <label for="rua" class="form-label">Rua</label>
      <input formControlName="rua" type="text" class="form-control" id="rua" [ngClass]="aplicaCssErro('endereco.rua')">
      <app-campo-control-erro
        [mostrarErro]="verificaValidTouched('endereco.rua')"
        msgErro="Rua é obrigatório!">
      </app-campo-control-erro>
    </div>

    <div class="row">
      <div class="mb-3 col-md-5">
        <label for="bairro" class="form-label">Bairro</label>
        <input formControlName="bairro" type="text" class="form-control" id="bairro" [ngClass]="aplicaCssErro('endereco.bairro')">
        <app-campo-control-erro
          [mostrarErro]="verificaValidTouched('endereco.bairro')"
          msgErro="Bairro é obrigatório!">
        </app-campo-control-erro>
      </div>

      <div class="mb-3 col-md-4">
        <label for="cidade" class="form-label">Cidade</label>
        <input formControlName="cidade" type="text" class="form-control" id="cidade" [ngClass]="aplicaCssErro('endereco.cidade')">
        <app-campo-control-erro
          [mostrarErro]="verificaValidTouched('endereco.cidade')"
          msgErro="Cidade é obrigatório!">
        </app-campo-control-erro>
      </div>

      <div class="mb-3 col-md-3">
        <label for="estado" class="form-label">Estado</label>
        <input formControlName="estado" type="text" class="form-control" id="estado" [ngClass]="aplicaCssErro('endereco.estado')">
        <app-campo-control-erro
          [mostrarErro]="verificaValidTouched('endereco.estado')"
          msgErro="Estado é obrigatório!">
        </app-campo-control-erro>
      </div>
    </div>
  </div>

  <div class="mb-3 col-md-6">
    <button type="submit" class="btn btn-primary" style="margin-right: 5px;">Submit</button>
    <button class="btn btn-secondary" (click)="resetar()">Cancelar</button>
  </div>


  <app-form-debug [form]="formulario"></app-form-debug>
</form>


<!--

Estado            | SIM         | NÃO
Controle visitado |  ng-touched | ng-untouched
Valor mudou       | ng-dirty    | ng-pristine
Controle válido   | ng-valid    | ng-invalid

-->
